


body{
    background-image:radial-gradient(#8E0E00,#1F1C18);
    background-size: 100% 100%;
    font-family: "kalnia";
}

/* 1. Home */

.header_Home {
    background-color: #F5F5F5 ;
    font-family: "kalnia";
    font-size: small;
    width: 99vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 60%;
    z-index: 2;
      
}

#barber_Logo {
   width: 20vh;
    max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left:2ex;
        opacity: 100%;
        position: relative;
        z-index: 1;
        
}

.header_Links{
    display: grid;
        grid-template-columns: repeat(4, 5fr);
        margin-top: 50px;
      
}

#home_Title{
    text-align: center;
    color: #F5F5F5;
    font-size:xx-large;
}

.header_Links a{
text-decoration: none;
color:inherit;
cursor:grab;
margin-right: .8cm;
}

.header_Links :hover{
   text-decoration: underline;
   color:#8E0E00;
   
}

.service_Menu{
    font-family: "kalnia";
    background-color: #F5F5F5;
    opacity: 60%;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
   border-radius: 50px;
    
}

.service_Container{
    
display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.service_Item{
    font-size: small;
    margin-left: 5%;
   margin-bottom: 5ch;
}

/* REVIEWS */

.review_Section{
    color: #F5F5F5;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr .5fr;
    justify-items: center;
}
.review_Section h4{
    text-align: center;
}


button{
    
    background: none;
    border: none;
  
}
.review_Arrows{
   margin-top: 50px;
}

.reviews{
    position:sticky;
    
}

.review_One {
    width: 700px;
    opacity: 30%;
    filter: blur(2.5px);
}

.review_Main{
width: 820px;
}

.review_Three{

    width: 700px;
    opacity: 30%;
    filter: blur(2.5px);
    
}

/* BUTTON ANIMATION */
.review_Section .review_Arrows button :hover{
        width: 100px;
        height: 100px;
        
}
.review_Section .review_Arrows button :active {
    
}



/* WELCOME */

.welcome {
    margin-top: 3em;
    width: 800px;
    color: #F5F5F5;
    text-align: center;
    text-indent: 5cqh;
    margin-left: 350px;
    margin-bottom: 10em;
}

/* PHOTO_SHOOT */
#barber_Title{
    text-align: center;
    color: #F5F5F5;
    font-size: xx-large;
    margin-bottom: 2ic;
}

.workers{
   display: grid;
   grid-template-columns: 2fr 1fr;
}

/* SALON WORKERS */
/* .salon_Curators{

} */

.salon_Curators h3  {
margin-left: 10ic;
color: #F5F5F5;
}

.salon_Curators .photoshoot{

margin-left: 2ic;
}

/* BARBER WORKERS */

/* .barber_Curators {

} */

.barber_Curators h3 {
    margin-left: 10ic;
    color: #F5F5F5;
}

.barber_Curators .photoshoot {

    margin-left: 2ic;
}




/* 2. Services */
.cut_Name{
color:#F5F5F5;
font-weight:bolder;

}

.cut_Description{
color: #F5F5F5;

}

#location_Box{
display: flex;
color: #8E0E00;
}
#location_Shop_Border{
font-family: "kalnia";
    width: 1505px;
    height: fit-content;
    background-color: #F5F5F5;
    border-radius: 5px;
    align-items: center;
    display: grid;
    grid-template-columns: 3.5fr 2fr 1.5fr ;
    opacity: 60%;
    margin-top: 8cqmax;
}

#location_Shop_Border a{
    text-decoration: none ;
    color: inherit;
}



#location_Address{
    margin-left: 5ch;
    
    
}

#location_Address h6 {
    margin-left: 15cqb;
}

#location_Address p{
    font-size: small;
}




#shop_Hours h6{
    margin-left: 10cqb;
}


#shop_Hours p{
font-size: small;
line-height: 1.2ch;
}


/* 3. About Us */

#about_Title h1{
text-align: center;
color: #F5F5F5;

}

.about_ParagraphOne{
    display: grid;
    grid-template-columns: 5fr 1fr ;
    color: #F5F5F5;
    text-align: left;
    padding-right: 1%;
    text-indent: 1cm;
    line-height: 215%;
}

.about_Reasons{
    color: #F5F5F5;
   display: grid;
   
        

}

.about_Reasons img{
    width: 40px;
    
    
}

.about_Reasons p{
    text-indent: 5%;

}

h3{
text-align: center;
color: #F5F5F5;
}

/* 4.Book Now */

.cut_Selections{
    display:grid;
    grid-template-rows: 1fr 2fr 4fr 2fr 1fr;
    margin-top: 5%;
    align-items: center;
}

.barber_Selections{

    
}

#left_Photo{
    display: inline-block;
        
        text-align: left;
        
}

#left_Photo img{
    width: 30%;
    height: 100%;
    

    display: block;
    margin-left: 0 auto;
        
}

#left_Photo p{
margin-left: 13%;
color: #F5F5F5;
}

#center_Photo{
width: 8px;
height: 20px;
align-items: center;
}

#right_Photo{

}













/* FOOTER */

.footer_Cotainer  {
   display: grid;
    justify-content: center;
    align-items: center;

}

.footer_Cotainer img {
    display: grid;
    justify-content: center;
    height: 15px;
    width: 15px;
}

.footer a {
    color: #F5F5F5;
    text-decoration: none;
        color: inherit;
        cursor: grab;
        margin-right: .8cm;
}

.footer_Links {
    display: flex;
    color: #F5F5F5;
}

.footer_Links a {
    text-decoration: none;
    color: inherit;
    cursor: grab;
    margin-right: .8cm;
}